[submodule "W1/GPIO_IN_CONFIG"]
	path = W1/GPIO_IN_CONFIG
	url = https://github.com/ngminhthanh12a3/DESLabSTM32Training_GPIO_IN_CONFIG.git
[submodule "W1/GPIO_OUT_CONFIG"]
	path = W1/GPIO_OUT_CONFIG
	url = https://github.com/ngminhthanh12a3/DESLabSTM32Training_GPIO_OUT_CONFIG.git
[submodule "W1/CLOCK_F1"]
	path = W1/CLOCK_F1
	url = https://github.com/ngminhthanh12a3/DESLabSTM32Training_Clock_F1.git
[submodule "W2/EXTI"]
	path = W2/EXTI
	url = https://github.com/ngminhthanh12a3/DESLabSTM32Training_EXTI.git
[submodule "W2/TIMER"]
	path = W2/TIMER
	url = https://github.com/ngminhthanh12a3/DESLabSTM32Training_TIMER.git
[submodule "Activity/GPIO_Activity_1"]
	path = Activity/GPIO_Activity_1
	url = https://github.com/DESLab-Resources/STM32Training_GPIO_Activity_1.git
[submodule "Activity/GPIO_Activity_2"]
	path = Activity/GPIO_Activity_2
	url = https://github.com/DESLab-Resources/STM32Training_GPIO_Activity_2.git
[submodule "W2/Systick"]
	path = W2/Systick
	url = https://github.com/DESLab-Resources/DESLabSTM32Training_Systick.git
[submodule "Extension/TIMER_INTERRUPT"]
	path = Extension/TIMER_INTERRUPT
	url = https://github.com/DESLab-Resources/EXT_TIMER_INTERRUPT.git
[submodule "Activity/EXTI_Activity_1"]
	path = Activity/EXTI_Activity_1
	url = https://github.com/DESLab-Resources/STM32Training_EXTI_Activity_1.git
[submodule "Activity/Interrupt_Systick"]
	path = Activity/Interrupt_Systick
	url = https://github.com/DESLab-Resources/STM32Training_Interrupt_Systick.git
[submodule "Activity/ACTIVITY_TIM2_1"]
	path = Activity/ACTIVITY_TIM2_1
	url = https://github.com/DESLab-Resources/STM32Training_ACTIVITY_TIM2_1.git
[submodule "Activity/ACTIVITY_TIM2_TIM3_1"]
	path = Activity/ACTIVITY_TIM2_TIM3_1
	url = https://github.com/DESLab-Resources/STM32Training_ACTIVITY_TIM2_TIM3_1.git
[submodule "Activity/ACTIVITY_TIM1_EXTI_1"]
	path = Activity/ACTIVITY_TIM1_EXTI_1
	url = git@github.com:DESLab-Resources/STM32Training_ACTIVITY_TIM1_EXTI_1.git
[submodule "Activity/ACTIVITY_TIM_Systick_1"]
	path = Activity/ACTIVITY_TIM_Systick_1
	url = git@github.com:DESLab-Resources/STM32Training_ACTIVITY_TIM_Systick_1.git
[submodule "Activity/ACTIVITY_TIM_TIM2_1"]
	path = Activity/ACTIVITY_TIM_TIM2_1
	url = git@github.com:DESLab-Resources/STM32Training_ACTIVITY_TIM_TIM2_1.git
[submodule "Activity/ACTIVITY_TIM_2_2"]
	path = Activity/ACTIVITY_TIM_2_2
	url = git@github.com:DESLab-Resources/STM32Training_ACTIVITY_TIM_TIM2_2.git
[submodule "W3/Conv_USART"]
	path = W3/Conv_USART
	url = git@github.com:DESLab-Resources/STM32Training_W3_Conv_USART.git
[submodule "W3/USART_Interrupt"]
	path = W3/USART_Interrupt
	url = git@github.com:DESLab-Resources/STM32Training_W3_USART_Interrupt.git
